

  header{
   display:flex;
   width:100%;
   height:50px;
   border-bottom: 1px solid black;
   background-color:white;
   font-family: Verdana;
   font-size: 14px;
   font-weight: bold;
   color:mediumaquamarine;
   z-index:1;
   align-items: center;

   position: fixed;
}

header nav {
  padding-right: 80px;
  display:flex;
  justify-content: flex-end;
  ;
}

nav span{
  display:inline-block;
  padding: 20px 10px;
  list-style: none;

}

header span{
  padding-right:40px;

}

.logo{
  display:flex;
  align-items: center;
  padding-bottom:10px;
  flex-grow: 1;
}

.logo img{
  padding-left:20px;

}

.main-content
{
  border: 1px solid black;
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  padding-top:40px;
}



.column-large{
  width:630px;
  background-color: ;
  overflow:visible;
  display:flex;
  flex-direction: column;
  align-items: center;


}

.column-medium{
  width:300px;
  background-color: ;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.column-small{
  width:240px;
  background-color: ;
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-weight: bold;

}

 #headline-1
 {
     background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
     font-family: georgia;
     font-weight:bold;
     font-size:40px;
     color:white;
     display:flex;
     height: 300px;
     text-align: center;
 }

 #headline-2{
   background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
   font-family: georgia;
   font-weight:bold;
   font-size:30px;
   color:white;
   display:flex;
   height:300px;
   width:300px;
   flex-direction: column;
   text-align: center;

 }

 #headline-3{
   background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
   font-family: georgia;
   font-weight:bold;
   font-size:30px;
   color:white;
   display:flex;
   height:300px;
   width:300px;
   text-align: center;
 }

 #headline-4 {
   background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
   font-family: georgia;
   font-weight:bold;
   font-size:30px;
   color:white;
   display:flex;
   height:300px;
   text-align: center;

 }

 #large-bottom{
   display:flex;
   flex-direction: row;

 }

 .story-nav ul {
   background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  list-style: none;
  padding:0;

 }

 .story-nav li {
     border-bottom: 1px solid black;
     padding:10px;
 }

 .footer {
   background-color: MediumAquamarine;
   margin: auto;
   display:flex;
   flex-direction:column;
   align-items: center;
   justify-content: center;
   padding:100px;

 }
 #my-times
 {
   font-family: Georgia;
   font-size: 16px;
   font-weight: bold;
   color:white;

 }

 .footer span {
   font-family: Verdana;
   font-size: 12px;
   font-weight: bold;
   color: white;
   padding-left: 5px;
   padding-right: 5px;

 }

.footer-nav{
  display: inline-flex;
  flex-direction: row;
}

.copyright span  {
  margin: auto;
 font-family: Verdana;
 font-size: 12px;
 display:flex;
 flex-direction: column;
 text-align: center;
}
